@import url("https://unpkg.com/leaflet@1.0.1/dist/leaflet.css");
  
.court__card{
  height: 100%;
  width: 100%;
  
  display: flex;
  flex-direction: column;

  /* margin: 20px !important; */
  /* padding: 20px; */

  background-color: red;
}

.court__card .header {
  display: flex;
  justify-content: space-between;
}

.court__card .header button {
  font-size: 20px;
  padding: 5px;
  background-color: transparent;
  border: none;
  color: gray;
  transition: all 2s;
}

.court__card .header button:hover{
  color:yellow;
} 
.leaflet-container{
  height: 300px;
  max-height: 400px;
  
  background-color: magenta;
}