@import url("https://unpkg.com/leaflet@1.0.1/dist/leaflet.css");

.leaflet-container {
    width: 100%;
    height: 100vh;
  }
  
.court__register{
    display: flex;
    flex-direction: row;

    margin: 32px 0;
    width: 40%;

    background-color: rgba(255,255,255,0.5);
    border-radius: 5px;
    padding: 16px;
}

.court__register fieldset{
    display: flex;
    flex-direction: column;

    border: 0;
    color: #fff;
    padding-right: 8px;
}

.court__register fieldset legend {
    font-size: 16px;
    margin: 0 auto;
}

.court__register fieldset label {
    margin-top: 16px;
}

.court__register fieldset input {
    padding: 8px 4px;
    border: 1px solid #111;
    border-radius: 3px;
}